SmartInvoice.API/Resources/InvoiceSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- MoneyType kept for reference/docs, but XSD validation relies on Any -->
	<xs:simpleType name="MoneyType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaxCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="HDon">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DLHDon">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="TTChung">
								<xs:complexType>
									<xs:sequence>
                                        <!-- Universal Wildcard: Allows any field, any order -->
										<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="NDHDon">
								<xs:complexType>
									<xs:sequence>

										<xs:element name="NBan">
											<xs:complexType>
												<xs:sequence>
													<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>

										<xs:element name="NMua" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>

										<xs:element name="DSHHDVu">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="HHDVu" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>

										<xs:element name="TToan">
											<xs:complexType>
												<xs:sequence>
													<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>

									</xs:sequence>
								</xs:complexType>
							</xs:element>
						<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
						</xs:sequence>
						<xs:attribute type="xs:string" name="Id"/>
					</xs:complexType>
				</xs:element>
				
				<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>